######################################################################
# Build Tools

/unpackage/*
/node_modules/*

######################################################################
# Development Tools

/.idea/*
/.vscode/*
/.hbuilderx/*


yarn.lock

# Mac
.DS_Store
**/.DS_Store

# vim/vi
*.swp

# JavaScript
node_modules/
.node_modules/
.eslintcache
unpackage/dist/build/
unpackage/dist/dev/

# python
*.pyc
