@font-face {
  font-family: "iconfont"; /* Project id 3598097 */
  src: url('/static/fonts/iconfont.woff2?t=1667485269039') format('woff2'),
       url('/static/fonts/iconfont.woff?t=1667485269039') format('woff'),
       url('/static/fonts/iconfont.ttf?t=1667485269039') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chongzhi:before {
  content: "\e65c";
}

.icon-shouye:before {
  content: "\e643";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-xiangyou:before {
  content: "\e612";
}

.icon-tushu1:before {
  content: "\e605";
}

.icon-jianhao:before {
  content: "\e729";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-bianji:before {
  content: "\e6b0";
}

.icon-icon4:before {
  content: "\e66b";
}

.icon-daifahuo:before {
  content: "\e604";
}

.icon-daishouhuo:before {
  content: "\e640";
}

.icon-tuihuanhuo:before {
  content: "\e715";
}

.icon-yishoucang:before {
  content: "\e624";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-tongzhi:before {
  content: "\e759";
}

.icon-fenxiang:before {
  content: "\e86e";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-xiangqian:before {
  content: "\e634";
}

.icon-tushu:before {
  content: "\e613";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-shangjiantou:before {
  content: "\e602";
}

.icon-xiajiantou:before {
  content: "\e603";
}

.icon-xiangshang:before {
  content: "\e600";
}

.icon-xiangxia:before {
  content: "\e601";
}

.icon-lajixiang:before {
  content: "\e615";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-saoyisao:before {
  content: "\e62e";
}

